body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

.easepick-day.weekend {
    background-color: #FFEDD5 !important;
}

.easepick-day.friday {
    background-color: #D1F7C4 !important;
}

.easepick-day.sunday {
    background-color: #FED7D7 !important;
}

.easepick-calendar {
    width: 500px !important; /* Ancho personalizado */
    border-radius: 10px;
    border: 1px solid #ddd;
}

.easepick-day {
    font-size: 1.6rem !important; /* Tamaño de los números */
    font-weight: bold;
    color: #333;
}

.easepick-month-name {
    text-transform: capitalize !important; /* Mayúscula inicial en los meses */
}

